@import "tailwindcss";

/* Basic css */

/* Colors , start custom color with color */
@theme{
  --color-primary: #8f56cc;
  --color-secondary: #5d4ec4;
  --color-base: #e6ebf4;
  --color-content: #22232c;
  --color-content-alter: #717586;
  --color-outer: #d1d5e0;
}

@layer base{
  html{
    @apply scroll-smooth scroll-pt-24
  }
  body{
    @apply bg-base text-content;
  }
  
}
html{
  scroll-behavior: smooth;
}
.custom-gradient{
   background: linear-gradient(135deg, #f8b4d9, #a8c5f7);
}

.pink-gradient {
  background: linear-gradient(135deg, #f59fcb, #96bff5);
}



.text-gradient{
  color: #f060c5;
  background: #FFC0CB;
  background: -webkit-linear-gradient(15deg, #FF5C77 0%, #FFC0CB);
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparant;
}